/*
html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}
*/

body {
    background-color: cadetblue;
    display: block;
    line-height: 1;
    margin:0;
}

.container{
    width: 100%;
    margin: 0;
    padding-top: 4%;
    margin-top: 4%;
}

.row{
   display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}



div.leftSide-col{
margin:5%;
}

div.rightSide-col{
margin:6%;
}
/*
.videoContainer{
    width: 400%;
    margin-right:10%;
    margin-left:10%;

    display: block;  
}
*/

h1.large{
    color: beige;
    font-size: 35px;
    margin: 0;
    line-height: 70px;

}

form.h2{
    color: aqua;
}
input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 20px;
}

button{
    text-align: center;
    font-size: 15px;
    margin-left:60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    margin-top: 10px;
    border-radius: 15px;
    background-color:forestgreen
}

header.h1 {
    font-size: 30px;
    color: blueviolet;
}

div.box{
    text-align: center;
    margin: 20px;
    padding: 34px 24px 40px 44px;
/*    background-color: aqua;*/
    box-shadow: 0 0 0 1px rgba (0,0,0,.15),
        0 2px 3px 0 rgba(0,0,0,.1);
}


div.icon {
width: 100%;
}

img{
    width: 100%;
}

}
label{
    font-size: 30px;
    font-weight: 600;
}

p{
    font-size: 15px;
    line-height: 1.2;
}



.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

*{
    box-sizing: border-box;
    
}

h1.section2Header{
    font-size: 60px;
    text-align: center;
}

form h2{
    color: blanchedalmond;
    
}

footer.footsy{
    background-color:burlywood;
    padding-left: 0px;
}

footer.footsy h1{
    color:darkblue;
    font-size: 35px;
}

footer.footsy ul{
    list-style: none;
    text-align: left;
padding-left: 0;}


footer.footsy li a{
    color: azure;
    font-size: 22px;
    line-height: 1.2;
    text-decoration: none;
    margin-left: 10px;
}






/* for mobile app*/

@media screen and (max-width:680px) {
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    ul.topnav li.dropdownIcon{
        display: block;
        float: left;
    } 
    
    ul.topnav.responsiveli.dropdownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }  
    
    ul.topnav.responsivel{
        position: relative;
    }
    
    ul.topnav.responsivel li{
        display: inline;
        float: none;  
    }
    
    ul.topnav.responsivel li a{
        display: block;
        text-align: left;
    }
    
    .col-6, ..col-4{
        width: 100%;
        margin: 0;
    }
    
    div.box{
        padding: 5px;
        display: block;
    }
div.leftSide-col, div.rightSide-col{
        margin: 1px;
    }
    input[type="text"]{
    width: 150px;
}

    .videoContainer iframe {
position: relative;
width: 100%;

margin-left: 0;
margin-right: 0;

margin-top: 150px;
overflow: hidden;
  }   
    
    div.mobileStack{
        width: 50%;
        display: block;

    }
    
     footer.footsy li a{
        width: 100%;
        display: block;
         margin-left: 15px;

    }
    
}
